<div class="text-center">
  <p *ngIf="!(isGameOver$ | async)" data-testid="playerTurnMsg">
    Turn for player: {{ currentPlayer$ | async }}
  </p>
  <p *ngIf="winner$ | async as winner" data-testid="winnerMsg">Winner is {{ winner }}!</p>
  <p *ngIf="isTied$ | async" data-testid="tieMsg">It is a tie!</p>
</div>

<div class="mt-4">
  <app-board
    [squares]="(squares$ | async)!"
    (square)="onSquare($event)"
  ></app-board>
</div>

<div class="mt-4 text-center">
  <button
    *ngIf="isGameOver$ | async"
    class="btn btn-primary"
    data-testid="restartBtn"
    (click)="onRestart()"
  >
    Restart
  </button>
</div>
