// Color system
$white: #fff !default;
$black: #000 !default;

// Typography
$font-family-sans-serif: "Press Start 2P", sans-serif !default;

// Body
//
// Settings for the `<body>` element.
$body-bg: $black !default;
$body-color: $white !default;
